@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');


:root {
    --lantern_color_1: #e58863;
    --lantern_color_2: #a30f0f;
    --lantern_color_3: #f0721e;
    /* nice orange:  #fbb03b, nice blue #4287f5*/
    transition: --lantern_color_1 1s, --lantern_color_2 1s;

    --backround-color :rgb(31, 45, 58);
    --flashlightSize: 40vw;
}

/* darkmode? / lightmode */

/* font reference? */
/* .rubik-RubikFont {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.texturina-TexturinaFont {
    font-family: "Texturina", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
} */

/*  credit naar de leraar but it dont work anymore anyways so...*/
/* @property --lantern_color_1 {
    syntax: "<color>";
    inherits: true;
    initial-value: red;
}

@property --lantern_color_2 {
    syntax: "<color>";
    inherits: true;
    initial-value: red;
} */

body {
    background-color: var(--backround-color);
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;

    transition-duration: 5s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
textPath {
    color: aliceblue;
    fill: aliceblue;

    font-family: "Texturina", serif;
    /* font-optical-sizing: auto; */
    font-weight: 300;
    font-style: normal;
}


/* ***************** */
/* section placement */
/* ***************** */
section {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;

    max-height: 30vh;
}

label:not(:nth-of-type(1)) {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;

    max-height: 30vh;
}


/* gridding each section */
label:nth-of-type(1) {
    grid-column: 2;
    grid-row: 2;
}

label:nth-of-type(2) {
    grid-column: 1;
    grid-row: 1;
    /* background-color: aqua; */
}

label:nth-of-type(3) {
    grid-column: 3;
    grid-row: 1;
}

label:nth-of-type(4) {
    grid-column: 2;
    grid-row: 3;
}

/* hiding everything but the center one */
label:not(:nth-of-type(1)) {
    display: none;
}

.active label:not(:nth-of-type(1)) {
    display: flex;
}


/* ***************** */
/* lantern placement & colors*/
/* ***************** */
svg:nth-of-type(1) {
    animation-name: smallSwing;
    transform: rotate(8deg);
    animation-duration: 3s;
    /* animation-timing-function: bounce; */
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* background-color: aquamarine; */
}

.bigSwing label:not(:nth-of-type(1)) svg:nth-of-type(1) {
    animation-name: bigSwing;
    animation-duration: 5s;
    animation-direction:normal;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    /* background-color: hotpink; */
}



/* zorgt dat de 2e lantaarn ansync is met de eerste */
label:nth-of-type(2) svg {
    animation-delay: -1.2s;
}

label:nth-of-type(4) svg {
    animation-delay: -.2s;
}

label:nth-of-type(1) svg polygon {
    fill: url(#radial-gradient1);
}

label:nth-of-type(2) svg polygon {
    fill: url(#radial-gradient2);
}

label:nth-of-type(3) svg polygon {
    fill: url(#radial-gradient3);
}

label:nth-of-type(4) svg polygon {
    fill: url(#radial-gradient4);
}

/* svg {
    transition-duration: 2s;
} */

/* hoe moet dit en de textanimatie op mobile */
section:has(svg polygon:hover) svg {
    --lantern_color_1: #f57e42;
    --lantern_color_2: #fbb13b;
    --lantern_color_3: #fb4b3b;
}

/* source idea checkbox: https://stackoverflow.com/questions/13630229/can-i-have-an-onclick-effect-in-css */
#Lantern1Toggle:checked+label,
#Lantern2Toggle:checked+label,
#Lantern3Toggle:checked+label,
#Lantern4Toggle:checked+label
 {
    --lantern_color_1: #f57e42;
    --lantern_color_2: #fbb13b;
    --lantern_color_3: #fb4b3b;
}

input {
    display: none;
}

svg path {
    /* so it doesnt read the black part over the polygon */
    pointer-events: none;
}

/* test of moving the gradient source */
/* https://stackoverflow.com/questions/77964712/svg-gradient-offset-animation */
@keyframes pulseLight {

    0%,
    100% {
        /* stop-color: red; */
        offset: 0%;
    }

    50% {
        stop-color: var(--lantern_color_3);
        offset: 100%;
    }
}

.stop1 {
    animation: pulseLight 4s linear infinite;
}


/* ***************** */
/* Title styling */
/* ***************** */
/* rounded svg from: https://css-tricks.com/snippets/svg/curved-text-along-path/ */

svg:nth-of-type(2) {
    /* background-color:rgb(115, 205, 92); */
    fill: transparent;

    position: absolute;
    width: 30vw;
    height: 30vw;
    transform: translateY(-20%);
    /* width: fit-content; */
    /* max-width: 1fr; */
    pointer-events: none;
}

textPath {
    font-size: 3.4em;
}


/* ***************** */
/* List items */
/* ***************** */
/* need to think of a fun way to do this */
ul {
    opacity: 0%;
    position: absolute;
    /* position: -50%; */
    /* background-color: rgb(9, 114, 29); */
    transform: translateY(25vh) translateX(0vw);
    pointer-events: none;

    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

/* dropdown on hover */
section:has(svg polygon:hover) ul {
    opacity: 100%;
    /* background-color: rgb(11, 20, 20); */
    transform: translateY(30vh);
}

label:nth-of-type(4) section:has(svg polygon:hover) ul {
    opacity: 100%;
    transform: translateY(0) translateX(30vw);
}

#Lantern2Toggle:checked+label ul,
#Lantern3Toggle:checked+label ul {
    opacity: 100%;
    transform: translateY(30vh);
}

#Lantern4Toggle:checked+label ul {
    opacity: 100%;
    transform: translateY(0) translateX(30vw);
}

ul {
    margin: 1em;
}

li {
    margin-bottom: .2em;
}

label:nth-of-type(2) ul, label:nth-of-type(4) ul {
    list-style-type: none;
}

li img {
    aspect-ratio: 1/1;
    border-radius: 50em;
    max-width: calc(var(--flashlightSize)/2);
    object-fit: cover;
    margin-bottom: 1em;
}


/* ***************** */
/* flashlight not a mess anymore */
/* ***************** */

.flashlight {
    /* display: none; */
    position: absolute;
    translate: 35vw 35vh;

    aspect-ratio: 1/1;
    width: var(--flashlightSize);
    max-width: 30vh;

    background: radial-gradient(#f196403e 55%, #9198e500 70%);

    border-radius: 50em;

    transition-duration: 2s;
}

.active {
    --flashlightSize: 25vw;
    --backround-color :rgb(57, 81, 103);
}

/* de type die hij leest is de div, dus toplayer is 1 */
.active .flashlight:nth-of-type(2) {
    translate: 5vw 10vh;
}

.active .flashlight:nth-of-type(3) {
    translate: 70vw 10vh;
}

.active .flashlight:nth-of-type(4) {
    translate: 35vw 70vh;
}


/* follow along flashlight source
    https://codepen.io/bramus/pen/eBZgPB */
/* not currently being used, but might be useful later */

.spotlightAnimation {
    animation-name: spotlight;
    animation-duration: 3s;
    animation-fill-mode: forwards;

    /* mask-size: 60%; */
}


@keyframes spotlight {
    from {
        left: 0%;
        top: 0%;
    }

    to {
        left: 35%;
        top: -35%;
    }
}

@keyframes smallSwing {
    from {
        translate: -10%;
        rotate: 4deg;
    }

    to {
        translate: 10%;
        rotate: -4deg;
    }
}

@keyframes bigSwing {
    from {
        rotate: 30deg;
        transform: translateX(-30em);
        /* translate: 10% 10% 10%; */
    }
    80% {
        rotate: -10deg;
        transform: translateX(5em);
    }
    to {
        rotate: 4deg;
        transform: translateX(0em);
        /* translate: 0 0 0; */
    }
}